/* fonts.css */

@font-face {
    font-family: 'vividly'; /* Choose a name for your font */
    src: url('./Vividly.ttf') format('truetype'); /* Adjust path and format */
    /* Add other font variations (e.g., bold, italic) if available */
}

@font-face {
    font-family: 'glitchy'; /* Choose a name for your font */
    src: url('./glitchy.ttf') format('truetype'); /* Adjust path and format */
    /* Add other font variations (e.g., bold, italic) if available */
}


/* Terminus Regular */
@font-face {
  font-family: 'Terminus';
  src: url('./Terminus.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Terminus Bold */
@font-face {
  font-family: 'Terminus';
  src: url('./Terminus-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}

/* Terminus Italic */
@font-face {
  font-family: 'Terminus';
  src: url('./Terminus-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* Terminus Bold Italic */
@font-face {
  font-family: 'Terminus';
  src: url('./Terminus-Bold-Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: inherit;
}

@font-face {
  font-family: 'Rainbows';
  src: url('./Rainbows.ttf') format('truetype');
  
}