/* Glitchy */
@font-face {
  font-family: 'Glitchy';
  src: url('./glitchy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Rainbows */
@font-face {
  font-family: 'Rainbows';
  src: url('./Rainbows.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Vividly */
@font-face {
  font-family: 'Vividly';
  src: url('./Vividly.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Terminus Regular */
@font-face {
  font-family: 'Terminus';
  src: url('./Terminus.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Terminus Bold */
@font-face {
  font-family: 'Terminus';
  src: url('./Terminus-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
