
/**** BACKGROUND GRADIENT (DIAG) ****/
/* bodyStyles.css body */
@keyframes layeredSky {
  0%   { background-position: 0% 0%, 0% 100%; }
  50%  { background-position: 100% 100%, 100% 0%; }
  100% { background-position: 0% 0%, 0% 100%; }
}

/**** BLINKING (CURSOR) ****/
/* windows.css terminal-cursor */
  @keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
  }
