@import '../assets/fonts/fonts.css';

html, body {
  height: 100%;
  width: 100%;
  cursor: default;
}

body {
  background: 
  linear-gradient(120deg, #79a9d1, #f5b7a2, #e49fcf),
  linear-gradient(60deg, #f0c9ff, #a0d4ff, #ffd4a5);

  background-size: 400% 400%;
  animation: layeredSky 25s ease-in-out infinite;
}

/**** GENERAL USE STUFF ****/
.under-hover {
  transition: transform 100ms ease 0s;
}

.under-hover:hover,
.under-hover:focus{
  transform: scale(1.01);
  text-decoration: underline;
}


/******* FOR WINDOW STUFF *******/
.content {
  font-family: 'vividly';
  padding: 2px;
}


/**** EMAIL WINDOW ****/
/* Email header info (To, From, Subject) */
.email-window-top {
  color: #3c3c3a;

  background: #fcfefd;
  border-bottom: 1px solid #e0e0de;

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 10px;

  padding: 10px 15px;
  line-height: 1.4;
  height: auto; 
}

/* To/From/Subject text */
.email-window .title-bar-text {
  text-align: left;
  margin: 0;

  color: rgb(60, 60, 58, 0.7);
  font-size: 12px;
}

.email-window .title-bar-date {  
  text-align: right;
  margin: 0;
  color: rgb(60, 60, 58, 0.4);
  font-size: 10px;
  white-space: nowrap;
}

/* Email body */
.email-window-email {
  color: #3c3c3a;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 13px;
  /* padding: 10px 25px; */
  line-height: 1.3;
}

 .email-window-email p {
    margin-top: 0px;
    margin-bottom: 2px;
  }

  .email-window-email h1 {
    font-size: 24px;
    margin-bottom: 0;
  }

  .email-window-email h2 {
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 5px;
  }

  .email-window-email h3 {
      font-size: 10px;
      font-weight: normal;
      margin-top: 5px;
      margin-bottom: 20px;
    }
  .email-window-email ul {
    padding-left: 20px;
    margin: 0;
  }

  .email-window-email li {
    margin-bottom: 8px;
  }


/**** CHROME WINDOW ****/
.chrome-name {  
  text-align: center;
  position: relative;
  display: block;
  margin: 0 auto;

  color: #35281E;

  font-family: 'Rainbow';
  font-size: 70px !important;

  top: 45px;
}

