@import '../assets/fonts/fonts.css';

/**** BUTTONS FOR DOCK (TO OPEN) ****/
.button-row {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 30px;

  position: fixed;     
  bottom: 40px;       
  left: 50%;             
  transform: translateX(-50%);  
}

.button-general {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: pink;
  color: rgb(60, 45, 45);

  font-family: 'animalCross';
  font-size: 20px;

  padding: 10px 20px;
  min-width: 80px;

  border: 2px solid black;
  border-radius: 150px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);

  flex: 1;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: visible;

  /* Smooth transitions */
  transition: 
    flex-grow 300ms ease, 
    transform 300ms ease, 
    filter 300ms ease;
}

  .button-general:hover {
    flex-grow: 2;
    transform: scale(1.001);
    filter: brightness(1.1);
    z-index: 1;
    cursor: default;
  }

  .button-row:hover .button-general:not(:hover) {
  flex-grow: 1;
  transform: scale(0.98);
  filter: brightness(0.95);
}



/**** BUTTON TO CLOSE WINDOW ****/
.close-button {
  justify-content: center;
 
  font-family: 'glitchy';

  background-color: red;
  color: white;

  padding-top: 2.3px;
  padding-bottom: 2.7px;
  padding-right: 7px;
  padding-left: 6.4px;

  border-radius: 4px;

  border: none;

  transition: transform 150ms ease 0s;
}

    .close-button:hover {
    background-color: rgb(255, 0, 0);       
    transform: scale(1.1);       
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3); 
    cursor: default;
    }



/**** SKILLS WINDOW ****/
.terminal-command-button {
  align-items: center;
  display: flex;

  background: transparent;
  color: rgb(79, 250, 123);   

  font-family: 'Terminus';
  font-size: 16px;

  border: none;
  padding: 0;

  user-select: none;
  outline: none; 
  cursor: pointer;
}

/**** CHROME WINDOW ****/
.chrome-row-button {
  justify-content: center;
  display: flex;
  position: relative;       

  top: 80px;          
  gap: 25px;
}

.chrome-button {
  font-family: 'Rainbow';
  font-size: 15px;
  padding: 10px;

  background: #ffc1de;
  color: #1a1a1a;
  
  border-radius: 16px; 
  border: 1px solid rgb(245, 147, 201);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);

  transition: transform 100ms ease 0s;
}

    .chrome-button:hover {
    transform: scale(1.02);     
    filter: brightness(1.03)
    }